import java.awt.BorderLayout;
import java.awt.FlowLayout;
import java.awt.GridLayout;
import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;
import java.awt.event.ItemEvent;
import java.awt.event.ItemListener;
import java.awt.event.KeyEvent;
import java.awt.event.KeyListener;

import javax.swing.JButton;
import javax.swing.JCheckBox;
import javax.swing.JComboBox;
import javax.swing.JFrame;
import javax.swing.JLabel;
import javax.swing.JPanel;
import javax.swing.JRadioButton;
import javax.swing.JTextField;

public class GUI extends JFrame implements ActionListener , ItemListener , KeyListener{
	JLabel lbl;
	JTextField txt,txt1,txt2,txt3;
	JButton btn , btn1;
	JPanel pnl;
	JRadioButton rbtn , rbtn1;
	JCheckBox ccb;
	JComboBox<PizzaTypes> cb;
	
	public static void main(String[] args) {
		GUI gui = new GUI();
		gui.setVisible(true);
		
	}
	public GUI() {
		setBounds(800, 200, 500, 300);
		setLayout(new BorderLayout());
		setTitle("PizzaBasket");
		
		pnl = new JPanel();
		pnl.setLayout(new GridLayout(3, 2));
		add(pnl , BorderLayout.NORTH);
		
		lbl = new JLabel("Name");
		pnl.add(lbl);
		
		txt = new JTextField();
		pnl.add(txt);
		
		lbl = new JLabel("Adress");
		pnl.add(lbl);
		
		txt = new JTextField();
		pnl.add(txt);
		
		ccb = new JCheckBox("With mushroom ?");
		pnl.add(ccb);
		
		lbl = new JLabel();
		pnl.add(lbl);
		
		pnl = new JPanel();
		pnl.setLayout(new FlowLayout());
		add(pnl, BorderLayout.WEST);
		
		lbl = new JLabel("Degree");
		pnl.add(lbl);
		
		rbtn = new JRadioButton("Hot");
		pnl.add(rbtn);
		rbtn1 = new JRadioButton("Too fucking hot");
		pnl.add(rbtn1);
		
		pnl = new JPanel();
		pnl.setLayout(new GridLayout(6, 2));
		add(pnl, BorderLayout.SOUTH);
		
		lbl = new JLabel("Number of Pizza");
		pnl.add(lbl);
		txt = new JTextField();
		pnl.add(txt);
		lbl = new JLabel("Pizza Type");
		pnl.add(lbl);
		
		
		String [] cbm = {" ","Base Salaried" , "Comission" , "Base + Comission"};
		cb = new JComboBox<PizzaTypes>();
		cb.addItemListener(new ItemListener() {

			@Override
			public void itemStateChanged(ItemEvent e) {

			       if(cb.getSelectedIndex() == 1) {
				        
			    	   txt1.setEditable(true);
			    	   txt2.setEditable(false);
			       }
			       
			       else if (cb.getSelectedIndex() == 2) {
			    
			    
			    	   txt2.setEditable(true);
			    	   txt1.setEditable(false);
			       }
			       
			       else if (cb.getSelectedIndex() == 3){

			    	   txt1.setEditable(true);
			       txt2.setEditable(true);
			       }
			       
			    	   
				
			}
			
		}) ;
		pnl.add(cb);
		
		
		lbl = new JLabel("Price");
		pnl.add(lbl);
		txt1 = new JTextField();
		pnl.add(txt1);
		lbl = new JLabel("Checkout");
		pnl.add(lbl);
		txt2 = new JTextField();
		pnl.add(txt2);

		lbl = new JLabel("Total:");
		pnl.add(lbl);
		txt3 = new JTextField();
		pnl.add(txt3);
		txt3.setEditable(false);
	
		btn = new JButton("Cancel");
		pnl.add(btn);
		btn.addActionListener(this);
		btn1 = new JButton("OK");
		pnl.add(btn1);
		btn1.addActionListener(this);
		
		

		
		
		setDefaultCloseOperation( JFrame.EXIT_ON_CLOSE );  	
		
		
		
		
	}
	
	
	

	@Override
	public void keyTyped(KeyEvent e) {
		// TODO Auto-generated method stub
	}

	@Override
	public void keyPressed(KeyEvent e) {
		// TODO Auto-generated method stub
		
	}

	@Override
	public void keyReleased(KeyEvent e) {
		// TODO Auto-generated method stub
		
	}

	@Override
	public void itemStateChanged(ItemEvent e) {
		// TODO Auto-generated method stub
		
	}

	@Override
	public void actionPerformed(ActionEvent e) {
		// TODO Auto-generated method stub
		
	}

}
